# ignore all jupyter notebooks
*.ipynb
__pycache__/
.DS_Store
main.py
main_1.py
main_2.py
main_3.py
main_4.py
main_5.py
main_6.py
main_7.py
main_8.py
main_9.py
test.py
notebooks/
logs/
plots/
data/
results/
archive/
